.nameBox{
    margin-left: 20px;
    padding:20px;
    background-color:rgb(0, 34, 68); 
    text-align:center; 
    color:white;
    font-size: 20px;
    width:250px;
}
.navbar{
    padding:0;

}
h2{
    color:rgb(0, 34, 68);
} 
.img-thumbnail{
    float:left;
    margin-right:10px;
}
hr{
    height:2px;
}
.btn{
    background-color:rgb(0, 34, 68);
}
p{
    text-indent:30px;
}
a{
    color:white;
}
.pf-img{
    padding:20px;
    display:inline-block;
    position: relative;
    text-align: center;

}
.pf-img .img-text{
    position:absolute;
    background-color:rgb(47, 62, 97);
    top: 60%;
    left:0;
    right:0;
    margin:auto;
    width: 200px;
    z-index:2;
    height:auto;
    font-size:20px;
    color:white;
    line-height:1.5;
    margin-top:10px;
    margin-bottom:10px;
}
.green{
    background-color:rgb(0, 34, 68);
    height: 1vh;
    position: fixed;
    bottom: 4vh;
    width:100%;
}
.gray{
    background-color: gray;
    height: 4vh;
    text-align: center;
    color:white;}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
}
.profileText
{
    margin:20px;
}

.flip-card {
    background-color: transparent;
    height: 200px;
    width: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 200px;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin:auto;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 200px;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {

    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color:rgb(0, 34, 68);
    color: white;
    transform: rotateY(180deg);
    font-size: 12px;
    text-align: left;
    padding:5px;
  }

@media screen and (max-width: 768px) {

.img-thumbnail{
    width:50%;
  }
}
  @media screen and (max-width: 640px) {
    .navbar-toggler{
        margin-left:20px;
    }
    .nameBox{
        margin-right:20px;
        width: 80%;
    }
    .img-thumbnail{
        width:100%;
    }
}
